// Custom.scss
// Option B: Include parts of Bootstrap

// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import "node_modules/bootstrap/scss/functions";

// 2. Include any default variable overrides here

// 3. Include remainder of required Bootstrap stylesheets
@import "node_modules/bootstrap/scss/variables";

// 4. Include any default map overrides here

// Overriding bootstrap colors with the neutralis scheme
$bg-neutral-light: #F2F1EF;

$bg-neutral-body: #697184;

$bg-neutral-dark : #413F3D;

$bg-neutral-secondary : #D8CFD0;

$bg-neutral-primary : #B1A6A4;

$theme-colors: (
  "dark": $bg-neutral-dark,
  "light": $bg-neutral-light,
  "primary": $bg-neutral-primary,
  "secondary": $bg-neutral-secondary,
  "body": $bg-neutral-body
);

// Appending additional positions to positions map
$extended-positions: (
  5: 5%,
  10: 10%,
  25: 25%
);

// Merging into positions map now
$position-values: map-merge($extended-positions, $position-values);

// Extending spacers map with drastic additional spacing
$extended-spacers: (
  10: $spacer * 6,
  15: $spacer * 9,
  20: $spacer * 12,
  25: $spacer * 15,
  30: $spacer * 18,
  35: $spacer * 21,
  40: $spacer * 24,
  45: $spacer * 27,
);

$spacers: map-merge($extended-spacers, $spacers);

$extended-fs: (
  7: $h6-font-size * .75,
  8: $h6-font-size * .50,
  9: $h6-font-size * .25
);

$font-sizes: map-merge($extended-fs, $font-sizes);
// Extending spacers map with drastic additional spacing
$extended-spacers: (
  10: $spacer * 6,
  15: $spacer * 9,
  20: $spacer * 12,
  25: $spacer * 15,
  30: $spacer * 18,
  35: $spacer * 21,
  40: $spacer * 24,
  45: $spacer * 27,
);

$spacers: map-merge($extended-spacers, $spacers);

// 5. Include remainder of required parts
@import "/node_modules/bootstrap/scss/maps";
@import "/node_modules/bootstrap/scss/mixins";
@import "/node_modules/bootstrap/scss/root";

// 6. Optionally include any other parts as needed
@import "/node_modules/bootstrap/scss/utilities";
@import "/node_modules/bootstrap/scss/reboot";
@import "/node_modules/bootstrap/scss/type";
@import "/node_modules/bootstrap/scss/images";
@import "/node_modules/bootstrap/scss/containers";
@import "/node_modules/bootstrap/scss/grid";
@import "/node_modules/bootstrap/scss/helpers";

// 7. Optionally include utilities API last to generate classes based on the Sass map in `_utilities.scss`
@import "/node_modules/bootstrap/scss/utilities/api";

// 8. Add additional custom code here